asgiref
certifi
charset-normalizer
colorama
Django
django-cors-headers
django-filter
djangorestframework
dnspython
dotenv
idna
iniconfig
mando
numpy
packaging
pandas
pluggy
pytest
pytest-django
python-dateutil
python-dotenv
pytz
radon
requests
shortuuid
six
sqlparse
tzdata
urllib3
py3-validate-email